nav {
    border: 0.5em solid darkgoldenrod;
    background-color: #0b10b6;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 1cm;
    justify-content: center;
    font-family:'Times New Roman', Times, serif
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 0.9cm;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: darkgoldenrod;
}
h1 {
    color: #0018b6;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
h2 {
    color: #0018b6;
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
p {
    background-color: #0018b6;
    color: #ffffff;
    text-align: center;
    font-family:'Times New Roman', Times, serif
}
em {
    color: darkgoldenrod;
}
footer {
    color:darkgoldenrod ;
    text-align: center;
    font-style: italic;
}
.highlight {
    font-size: medium;
    font-weight: normal;
}
#page {
    border: 12px solid darkgoldenrod;
    padding: 0.5cm;
}
img {
    margin: auto ;          
  }
main {
    text-align: center;
}
.published {
    background-color: #ffffff;
    color: darkgoldenrod;
    font-style: italic;
}
