body {
    background-color:blanchedalmond;
    color: rgb(160, 119, 7);
}
h1 {
    font-size: 3em;
    color: gold;
}
h2 {
    font-size: 2em;
    color: gold;
}
h3 {
    font-size: 1em;
    color: gold;
}
p {
    text-indent: 2%;
}
a {
    color: black;
}
#myHeader {
    text-decoration: underline;
}
.highlight {
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
}
main {
    display: flex;
    flex-direction: column;
 }
nav {
    border: 0.5em solid rgb(160, 119, 7);
    background-color: #000000;
}
nav ul {
    display: grid;
    list-style-type: none;
    padding: 1cm;
    justify-content: center;
}
nav ul li a {
    color: rgb(160, 119, 7);
    text-decoration: none;
    margin-right: 0.9cm;
    font-weight: bold;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 1rem;
}
article {
    background-color: white;
    border: 1px solid rgb(160, 119, 7);
    border-radius: 8px;
    padding: 1rem;
}
@media (min-width: 601px) and (max-width: 900px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    article {
        flex: 1 1 calc(50% - 1.5rem);
    }
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.4em;
    }
}
@media (min-width: 901px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    article {
        flex: 1 1 calc(33.33% - 2rem);
    }
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.6em;
    }
}